.App {
  width: 100%;
  min-height: 100vh;
  background-color: #0E1750;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 23, 80, 0.3);
  z-index: 0;
  pointer-events: none;
}

.App > * {
  position: relative;
  z-index: 1;
}

